.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 626px;
}

.videoJs {
    width: 100%;
    height: auto;
    background: #f2f2f2;
}
:global(.vjs-control-bar) {
    display: flex !important;
    justify-content: center;
}

:global(.vjs-control-bar > *:not(.vjs-progress-control)) {
    display: none !important; 
}

:global(.vjs-progress-control) {
    flex-grow: 1;
}

:global(.vjs-progress-control) {
    width: 100%; /* Ширина прогрес-бару */
    height: 3px; 
    background-color: #e0e0e0;
    border-radius: 4px; 
    position: relative;
    overflow: hidden; 
}

.videoJs {
    pointer-events: none; 
}

.videoControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 626px;
    height: 39px;
    background: #333;
    color: #fff;
}

.controlButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.controlButton:hover {
    color: #ff4081;
}

.volumeBar {
    width: 100px;
    margin-left: 10px;
}

.timeDisplay {
    font-size: 14px;
    margin-right: 10px;
}